@tailwind base; /* Preflight will be injected here */

@tailwind components;

@tailwind utilities;


@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

.fade-in {
  animation: FadeIn 2s ease 0s 1 normal;
}